---
title: Initial Teacher Training qualification year
description: Ask users if they completed their initial teacher training before or after a specific date
section: Patterns
theme: Ask users for…
aliases: ITT, initial teacher training, qualification year, QTS, QTLS, NQT
layout: layout-pane.njk
---

{% from "_example.njk" import example %}

{{ example({group: "patterns", item: "when-did-you-complete-ITT", example: "default", html: true, nunjucks: true, open: false, size: "s"}) }}

## When to use this pattern

Use this pattern when a teacher is eligible for your service if they completed
their initial teacher training before or after a specific date.

## When not to use this pattern

Do not use this pattern when you need to ask the exact date a  teacher completed
their initial teacher training.

## How it works

When asking when the teacher completed their initial teacher training:

- do not use the initialism ITT (Initial Teacher Training) which is common
within DfE
- use radios and list the options in academic years rather than a specific date

### Error messages

Error messages should be styled like this:

{{ example({group: "patterns", item: "when-did-you-complete-ITT", example: "error-none-selected", html: true, nunjucks: true, open: false, size: "s"}) }}

#### If the user does not select an academic year

Say ‘Select when you completed your initial teacher training’.

## Research on this component

Whilst developing this pattern we have looked into:

- how to best ask this question using specific dates or acadmeic years. Whilst
academic years might be harder for us to understand they make sense to
teachers.
- whilst there are several different ways to get into teaching, each with
different qualifications the catch all term 'Initial teacher training' was the
most easily understood
