---
title: Subjects taught
description: Ask users to select from a list of subjects or choose none
section: Patterns
theme: Ask users for…
aliases: subjects taught, subjects, what do you teach
layout: layout-pane.njk
---

{% from "_example.njk" import example %}

{{ example({group: "patterns", item: "which-subjects-do-you-teach", example: "default", html: true, nunjucks: true, open: false, size: "s"}) }}

## When to use this pattern

Use this pattern when a teacher is eligible for your service if they teach
one or more of a small selection of subjects.

## When not to use this pattern

Do not use this pattern when you need to ask a teacher what subjects they teach
from a large selection of subjects. Instead consider alternative methods such
as a [search option]{https://github.com/alphagov/govuk-design-system-backlog/issues/88}
or [text input](https://design-system.service.gov.uk/components/text-input/).

## How it works

This is a unique pattern that requires the use of checkboxes, the or divider and
a radio button in one question.

- When a user selects one or more checkboxes, the radio button should be
unselected.
- When a user selects the radio button, all checkboxes should be unselected.

### Error messages

{{ example({group: "patterns", item: "which-subjects-do-you-teach", example: "error-none-selected", html: true, nunjucks: true, open: false, size: "s"}) }}

#### If the user does not select any languages

Say ‘Select if you taught Biology, Chemistry, Physics, Computing, Languages or
you didn’t teach any of these subjects’.

If you have a longer list of languages you may want to say 'Select which subjects
you teach or select you didn’t teach any of these subjects'
