---
title: Get in touch
description: If you’ve got a question, idea or suggestion get in touch with the Design System team
layout: layout-single-page.njk
---

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
     <h1 class="govuk-heading-xl">Get in touch</h1>

     <p class="govuk-body-l">If you’ve got a question, idea or suggestion get in touch with a DfE team member.</p>

     <h2 class="govuk-heading-l">Slack or email</h2>

     <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
        <li>
          email
          <a href="mailto:additionalteachingpayment@digital.education.gov.uk" class="govuk-link" data-hsupport="email">additionalteachingpayment@digital.education.gov.uk</a>
        </li>
        <li>
          get in touch using the
          <a href="https://ukgovernmentdfe.slack.com/app_redirect?channel=twd_claim_payments" class="govuk-link" data-hsupport="slack">
            #twd_claim_payments channel on DfE Slack</a>
        </li>
        <li>
          contact Paper (design and research) by <a href="https://paper.studio/contact" class="govuk-link">emailing them</a>
        </li>
        <li>
          contact dxw (development) by <a href="https://www.dxw.com/contact/" class="govuk-link">emailing them</a>
        </li>
    </ul>
  </div>
</div>
